@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway&family=Ubuntu&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color:  #FFFFFF;
}
/* header area start */

.container{
    width: 80%;
    border-radius: 5px;
    margin: 50px 178px;

}
.nav-section{
    display:flex;
    justify-content: space-between;
    align-items: center;

    
}
.left-side a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #3A3A3A;
   
}
.influencer-right img{
    width: 100%;

}
.right-side a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #3A3A3A;
    margin-right: 30px;
    
 
}


.influencer{
    margin-top: 50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.influencer-left h3{
    font-size:40px ;
    color:#3A3A3A;
    font-weight: 700;

}
.influencer-left p{
    color: #3A3A3A;
    font-size:16px;
    font-weight: 600;

}
.influencer-left a{
    
    
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-left: 20px;
    
}
.button{
    display: flex;
    background-color: #E02C6D;
    width: 195px;
    height: 44px;
    align-items: center;
    padding: 5px;
    border-radius: 40px;
}
.fa-arrow-right-long{
    font-size: 18px;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}
.amazon{
    margin-top: 50px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid rgb(216, 211, 211);
    border-bottom: 1px solid rgb(201, 199, 199);
    padding: 20px;
    margin-left: 171px;
    grid-column-gap: 10px;
   
}
.amazon img{
    width: 80%;
}

/* header area end */


/* main area start */
main{
    width: 80%;
   
}
.image-boxes{
    margin-left: 305px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}
.image-box{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
   
}
.image-box img{
    width: 100%;
}
.articale-bottom{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 39px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.text a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: red;
}
.text-icon .fa-arrow-right-long{
    color: red;
}
.two-part{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 341px;
    grid-column-gap: 100px;
    margin-bottom: 30px;
}
.part-1 img{
    width: 100%;
}
.part-2 h3{
    font-weight: 600;

}
.part-2 p{
    font-weight: 400;
    font-size: 16px;
}
.part-2 a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
/* main area end */

/* footer start  */
footer{
    background: #000;
    color: white;
    height: 300px;
}
.footer-text{
    margin-top: 70px;
    display: inline-block;
}

/* footer end  */
/* media  */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
        margin: 0 0;
    }
    .left-side a{
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
        color: #3A3A3A;
       
    }
    .right-side a{
        font-size: 10px;
        font-weight: 700;
      
    }
    .influencer{
        flex-direction: column-reverse;
        text-align: center;
    }
    .button{
        margin-left: 120px;
    }

    .amazon{
        margin-top: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-top: none;
        border-bottom: none;
        padding: 0;
        margin-left: 0;
        grid-row-gap:30px;
       
    }
    .amazon img{
        width: 80px;
    }

    main{
    width: 100%;
   
   }

   .image-boxes{
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}
.image-box{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
   
}
    
}